
<!-- src/app/navbar/navbar.component.html -->
<nav class="bg-blue-500 p-4">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">

   <a routerLink="/">

     <div class="text-white text-2xl font-bold mb-4 md:mb-0">Chat<span class="text-orange-500">App</span>.</div>
    </a>
     <div class="flex flex-col md:flex-row  items-center justify-center gap-2 space-x-4">
      <!-- Mobile menu button -->
      <button  (click)="toggleMenu()" class="md:hidden text-white" >
        <div *ngIf="!isMenuOpen; else closeIcon"><svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg></div>
        <ng-template  #closeIcon><div
          class="  flex justify-center items-center text-white text-lg  cursor-pointer hover:text-orange-600">
          Close Navbar
        </div>
        </ng-template>

      </button>
      <!-- Navigation links -->
      <div [ngClass]="{'hidden': !isMenuOpen}" class=" md:flex items-center space-x-4">

        <div class=" md:flex items-center space-x-4" *ngIf="loggedIn">
          <a routerLink="/members" routerLinkActive=" text-orange-400 font-bold" class="text-white hover:text-orange-500 transition-all duration-300">Explore</a>
          <a routerLink="/lists" routerLinkActive=" text-orange-400 font-bold" class="text-white hover:text-orange-500 transition-all duration-300">Lists</a>
          <a routerLink="/messages" routerLinkActive=" text-orange-400 font-bold" class="text-white hover:text-orange-500 transition-all duration-300">Messages</a>
            <a href="#" class="text-white hover:text-orange-500 transition-all duration-300" (click)="logout()">Logout</a>
            <a href="#" class="text-white hover:text-orange-500 transition-all duration-300" >Welcome, {{user?.username | titlecase}}</a>


        </div>
        <div class="md:flex items-center space-x-4">
        </div>

        <form *ngIf="!loggedIn" #loginForm="ngForm" class="flex flex-col sm:flex-row items-center justify-center gap-2" (ngSubmit)="login()" autocomplete="off">
          <input type="text"
            name="username"
            [(ngModel)]="model.username"
            class="rounded-md border-2 border-orange-500 overflow-hidden outline-none bg-blue-500 text-white font-bold md:w-[120px] h-[40px] p-2 placeholder:text-white"
            placeholder="Username">
          <input type="password"
            name="password"
            [(ngModel)]="model.password"
            class="rounded-md border-2 border-orange-500 overflow-hidden outline-none bg-blue-500 text-white font-bold md:w-[120px] h-[40px] p-2 placeholder:text-white"
            placeholder="Password">
          <button
          type="submit"
            class="rounded-md border-2 border-orange-500 overflow-hidden outline-none bg-blue-500 text-orange-500 font-bold  h-[40px] px-4 hover:text-white hover:bg-orange-500 transition-all duration-300">Login</button>
        </form>
      </div>

    </div>
  </div>
</nav>
